<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="robots" content="noindex">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" maximum-scale=1.0; user-scalable=0;”>
    <title>{% block title %} {% endblock %} | EMAT </title>
    {% load static %}
    <link href="{% static 'core/images/favicon_emat.png' %}" rel="icon" />
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ggalbas/css/style.css' %}">

</head>
<body class="d-flex flex-column flex-wrap vertical-center {% if request.path == '/ggalbas/visorActividades' %} border-green {% endif %} " style="{% block bg-imagen %} {% endblock %}">

    <div class="header modulo-info d-md-inline-block text-center  px-3 w-100 shadow-sm {% block header %} bg-blue align-self-start text-white {% endblock %}" >
        <div class="row">
        {% block barra %} {% endblock %}
        </div>
    </div>

    {% block unidades %} {% endblock %}

    <div class="container-fluid d-flex flex-column justify-content-center flex-1 px-0 py-3">
        <div class="container">
            <div class="row">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

    {% block modales %}

    <div class="modal fade" id="ModalEjercicio" tabindex="-1" role="dialog" aria-labelledby="ModalResponderEjercicioTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content position-relative">
                <div class="modal-body text-center px-5 py-4">
                    <div class="d-none d-sm-flex position-absolute" style="top: -50px;right: -50px;"><img src="{% static 'core/images/objetos/laptop-atencion.png' %}" alt="Atención"></div>
                        Debes responder el ejercicio para avanzar.
                    <div class="d-inline-block w-100">
                        <button type="button" class="btn mt-2 btn-modal-ok text-shadow box-shadow" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Modal Si No -->
    <div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="ModalResponderPreguntaSiNoTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-white position-relative">
                <div class="modal-body text-center px-5 py-4">
                    No has respondido la pregunta, ¿Estás seguro que quieres avanzar? Responde Sí o No.
                    <div class="d-inline-block w-100">
                        <button type="button" class="d-inline-block mx-2 btn mt-2 btn-modal-si text-shadow box-shadow" onclick="guardaRespuesta()">Si</button>
                        <button type="button" class="d-inline-block mx-2 btn mt-2 btn-modal-no text-shadow box-shadow" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

 {% endblock %}

    <script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'core/js/jquery-ui.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
    {% block extrascript %} {% endblock %}
</body>
</html>