<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="robots" content="noindex">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" maximum-scale=1.0; user-scalable=0;”>
    <title>{% block title %} {% endblock %} | EMAT </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ggalbas/css/style.css' %}">

</head>
<body class="d-flex flex-column flex-wrap vertical-center" style="background-image: url('{% if request.path == '/ggalbas/antePortada' %} {% static 'core/images/fondos/bg-diagnostico.png' %} {% elif request.path == '/ggalbas/portadaVisor' %} {% static 'core/images/fondos/Diag-PInicial-Fondo1.png' %} {% endif %}');">
    <div class="header modulo-info d-md-inline-block text-center  px-3 w-100 shadow-sm {% if request.path == '/ggalbas/antePortada' %} panel-celeste py-2 {% else %} bg-blue align-self-start text-white {% endif %}" >
        <div class="row">
        {% block barra %} {% endblock %}
        </div>
    </div>

    <div class="container-fluid d-flex flex-column justify-content-center flex-1 px-0 py-3">
        <div class="container">
            <div class="row">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>




    <script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'core/js/jquery-ui.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
    {% block extrascript %} {% endblock %}
</body>
</html>